footer.bg-warning.text-white
  .container.p-4
    .row
      .col-lg-4.col-md-6.mb-2
        h5.text-uppercase.mt-2.p-3 Fußzeileninhalt
        .p-2
          p Hier können Sie Fußzeileninhalt hinzufügen. Zum Beispiel eine kurze Information über Ihre Website oder Kontaktinformationen.
          .btn.btn-outline-secondary.text-white.rounded-pill Mehr erfahren
      .col-lg-4.col-md-6.mb-2
        h5.text-uppercase.mt-2.p-3 Links
        ul.list-unstyled
          li
            .btn.btn
              a.text-white(href="#!") Link 1
          li
            .btn.btn
              a.text-white(href="#!") Link 2
          li
            .btn.btn
              a.text-white(href="#!") Link 3
          li
            .btn.btn
              a.text-white(href="#!") Link 4
      .col-lg-4.col-md-6.mb-3
        h5.text-uppercase.mt-2.p-3 Kontakt
        ul.list-unstyled
          li.mt-2.text-white
            a.text-white(href="#") E-Mail Adresse: info@example.com
          li.mt-2
            a.text-white(href="#") Telefonnummer: +123 456 7890
          li.mt-2
            a.text-white(href="#") Adresse: 123 Straße Stadt, Land
        .d-grid.gap-3.d-md-block
          a.btn.btn-outline-secondary.mx-2.mt-2.rounded-pill(href="#")
            i.bi.bi-twitter-x
          a.btn.btn-outline-secondary.mx-2.mt-2.rounded-pill(href="#")
            i.bi.bi-instagram
          a.btn.btn-outline-secondary.mx-2.mt-2.rounded-pill(href="#")
            i.bi.bi-facebook
